.phpintel/


Go/bin
/static
/PHP/framework/runtime

PHP/Syntax/debug.log
files/certificate.pem
files/key.pem
Docker/jenkins
pkg/
tool/parcel/dist/
tool/parcel/.cache/
basic/javascript/TypeScript/project/docs/
basic/javascript/svelte/my-app/.svelte-kit/
basic/javascript/svelte/my-svelte-project/public/build/
client/fullstack/part2/phonebook/db.json
languages/cpp/syntax/build/


Docker/mysql/test_db/


**/.DS_Store
**/.idea
**/target
**/node_modules
**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/dist
**/.vscode
**/Cargo.lock
**/bin
**/vendor
**/.project
**/.settings
**/.classpath
logs
static
basic/native/get_enddate_after_days_from_begindate
CLAUDE.local.md
