<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <coverage/>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
            <file>tests/demo/CardTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
        <testsuite name="demo">
            <directory>tests/demo</directory>
        </testsuite>
    </testsuites>

    <!--    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">-->
    <!--        <include>-->
    <!--            <directory>src</directory>-->
    <!--        </include>-->
    <!--        <exclude>-->
    <!--            <directory>vendor</directory>-->
    <!--            &lt;!&ndash;            <file>src/autoload.php</file>&ndash;&gt;-->
    <!--        </exclude>-->
    <!--    </source>-->

    <logging>
        <testdoxHtml outputFile="logs/log.html"/>
        <!--        <log type="coverage-html" target="build/html-coverage" charset="UTF-8" highlight="true" />-->
    </logging>
    <!--    <filter>-->
    <!--        <whitelist processUncoveredFilesFromWhitelist="true">-->
    <!--            <directory suffix=".php">syntax</directory>-->
    <!--        </whitelist>-->
    <!--    </filter>-->
    <php>
        <includePath>syntax</includePath>
        <const name="DB_DSN" value="sqlite:data/game-test.db"/>
    </php>
    <source/>
</phpunit>
